body
{
    width:95%;
    height:95%;

    margin-left: 2.5%;
    margin-right: 2.5%;
}

#title
{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#row0
{
    position: absolute;
    top: 10%;
    left:0%;
    width:100%;
    height:25%;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#row1
{
    position: absolute;
    top: 40%;
    left:0%;   
    width:100%;
    height:25%;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#row2
{
    position: absolute;
    top: 70%;
    left:0%;
    width:100%;
    height:25%;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
